*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    padding: 0px;
}
.logo {
    width: 150px;
    height: 110px;
    margin-left: 95px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}


img {
    width: 85vw;
    height: 60vh;
    object-fit: cover;
    z-index: 1000;
    
}



.rectangle {
    width: 450px;
    height: 80px;
    background-color: blue;
    padding: 27px;
    position: absolute;
    top: 320px;
    left: 0;
    z-index: 1000;
    /* font-size: 26px; */
}
.rec{
    width: 324px;
    height: 80px;
    background-color: #000;
      position: absolute;
    top: 320px;
    right: 0; 
    
}

.text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400;
}

section{
    padding: 0 130px;
    margin-bottom: 90px;
}

.container-grid {
    padding-top: 50px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    flex-wrap: wrap;
}

.text2 {
    width: 60%; /* Adjust this value as needed */
    font-size:18px;
    font-weight: 300;
    color: #061c2c;
    float: left;
    font-family: 'Open Sans';
    word-wrap: break-word; /* Ensures long words break and wrap to the next line */
    overflow-wrap: break-word; /* Another property to ensure proper word wrapping */
}


svg{
    float: right;
    width: 416px;
    height: 42px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    /* margin-top: 34px; */
}



